{% extends "layout.html" %}

{% block content %}
<div class="row" id="wishlist_page">
    <div class="col-md-12">
        <h3>Wishlist</h3>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="wishlist-items">
                    {% if wishlist %}
                    <div class="row">
                        {% for item in wishlist %}
                            {% if username == item.username %}
                                <div class="col-md-4">
                                    <div class="wishlist-item">
                                        <img src="{{item.jersey_image_url}}" class="product_card-img" alt="...">
                                        <h5 class="wishlist-item-title">{{ item.jersey_info }}</h5>
                                        <button class="btn btn-danger"
                                            onclick="removeFromWishlist('{{ item.id }}')">Remove</button>
                                        <button class="btn btn-primary" onclick="moveToCart('{{ item.id }}')">Move to
                                            Cart</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>Your wishlist is empty.</p>

                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}